<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gianlucaveschi.load_json_images_picasso">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="www.gianlucaveschi.load_json_images_picasso.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="www.gianlucaveschi.load_json_images_picasso.activities.bottom_nav.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="www.gianlucaveschi.load_json_images_picasso.activities.details.MealDetailsActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"/>

        <activity android:name="www.gianlucaveschi.load_json_images_picasso.activities.meal_drawer.MealCategoriesActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"/>

        <activity android:name="www.gianlucaveschi.load_json_images_picasso.activities.meal_drawer.MealCountriesActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"/>

        <activity android:name="www.gianlucaveschi.load_json_images_picasso.activities.meal_drawer.MealMainIngredientActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"/>

        <activity android:name="www.gianlucaveschi.load_json_images_picasso.activities.meal_drawer.MealRandomActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"/>

        <activity android:name="www.gianlucaveschi.load_json_images_picasso.activities.bottom_nav.AboutMeActivity"/>
        <activity android:name="www.gianlucaveschi.load_json_images_picasso.activities.bottom_nav.AboutMiji"/>

        <activity android:name="www.gianlucaveschi.load_json_images_picasso.activities.details.StoveDetailsActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"/>
    </application>


</manifest>